}
    background-color:lightblue;
    
}
p{
    color:yellow;
}
 /* select header style */
h1{
    
}
h2{
    color:red:
}
#secondparagraph{
    color:darkblue;
    
}
.yellow{
    
    border:2px solid red;
}
/* h1,h2,p{

} */